---
const username = "Edwin Rozo";
---

<h1 class="main-title">Hello World!</h1>		
<p>Welcome {username}</p>

<style>
  .main-title {
    font-size: 5rem;
    color: #0808af;
  }

  p {
    font-size: 4rem;
    margin-top: 2rem;
    color: #0a6cbd;
  }
</style>